{% extends "index.html" %}
{% load staticfiles %}
{% block body_block %}

<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>All Quiz</h2>
            </div>
            <!-- Basic Example -->
            <div class="row clearfix">
                {% for i in data %}
                <a href="/manage/QuizPage/{{i.idquiz}}" >
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header bg-red">
                            <h2>
                                {{ i.name }} <small>Created BY:: {{ i.creator }}</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            Subject :: {{ i.subject }} <br/>
                            Date and Time :: {{ i.date }} , {{ i.time}} <br/>
                            TimeLimit :: {{ i.timelimit }} Minutes <br />
                            Marks :: {{ i.total }}
                            </div>
                    </div>
                </div>
                    </a>
                {% endfor %}
                </div>
            </div>
    </section>
{% endblock %}